.vscode/
docs/
config.js
public/upload/*
!public/upload/.gitkeep
public/themes/*
!public/themes/default

# Logs
logs
*.log
npm-debug.log*

# Runtime data
*.lock
*.lock.json
*.lock.*
*-lock.*

.history/*
tmp/*
.DS_Store
.idea
.classpath
.project
.settings
Thumbs.db
.ntvs_analysis.dat

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz


